<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="People delete"</h2>

  <%= form_for(:human, :url => {:action => 'destroy',:id => @people.id}) do |ps| %>
  
  <p>Do you want to delete this Person?</p>
	
  <p class="referName"><%= @people.name%></p>
  
  <div class="from-buttons">
		<%= submit_tag("Delete People")%>	
  </div>
  
  <% end %>
</div>
